                    .App {
                        text-align: center;
                        padding-left: 5%;
                        padding-right: 5%;
                    }
                    
                    .App-logo {
                        animation: App-logo-spin infinite 20s linear;
                        height: 80px;
                    }
                    
                    .App-header {
                        background-color: #222;
                        height: 150px;
                        padding: 20px;
                        color: white;
                    }
                    
                    .App-title {
                        font-size: 1.5em;
                    }
                    
                    .App-intro {
                        display: block;
                    }
                    
                    .av-select {
                        width: 60%;
                        /* display: inline; */
                        align-content: center;
                        text-align: left;
                    }
                    
                    .av-table {
                        min-width: 90%;
                        padding-left: 10%;
                        padding-right: 10%;
                        padding-top: 10px;
                        padding-bottom: 20px;
                        position: fixed;
                        top: 0;
                        z-index: 100;
                        background-color: whitesmoke;
                    }
                    
                    .av-center {
                        margin-top: 94px;
                    }
                    
                    .av-wordcloud-table {
                        margin-top: 94px;
                        padding-top: 20px;
                    }
                    
                    .av-tableview {
                        padding-left: 10%;
                        padding-right: 10%;
                    }
                    
                    .av-tableview table {
                        left: 20%;
                        width: 60%;
                        position: absolute;
                        margin-top: 25px;
                    }
                    
                    .av-tableview>table,
                    .av-tableview>table>thead>tr>th,
                    .av-tableview>table>tbody>tr>td {
                        text-align: left;
                        padding: 10px;
                        border-collapse: collapse;
                        background-color: white;
                    }
                    
                    .av-tableview>table>thead>tr>th {
                        border-top: 1px solid lightgray;
                        border-bottom: 1px solid lightgray;
                    }
                    
                    .av-tableview>table>tbody>tr:nth-child(even) td {
                        background-color: wheat
                    }
                    
                    .av-tableview>table>tbody>tr:nth-child(odd) td {
                        background-color: seashell
                    }
                    
                    .av-filter-input {
                        width: 50em;
                        padding: 7px;
                        border-radius: 2px;
                        border: 1px solid lightblue
                    }
                    
                    @keyframes App-logo-spin {
                        from {
                            transform: rotate(0deg);
                        }
                        to {
                            transform: rotate(360deg);
                        }
                    }